@import 'sharedStyles';
@import 'colours';

.asset-management-new-asset {
    .form-container-style;

    .progress-container {
        position:relative;
        visibility:hidden;
        width:76px;
        height:10px;
        background-color: @white;
        border:1px solid black;
        overflow: hidden;
        border-radius: 8px;
        margin: 10px 0;
        .progress-bar {
            width:0%;
                background-color: @primary-color;
            height:100%;
            .progress-percent {
                display: none;
            }
        }
    }
    
    .asset-uses {
        margin-top: 25px;
    }

    .asset-use-icon {
        color: @aleido-logo-text-green;
        cursor: pointer;
        display: none;
        &.is-visible {
            display: block;
        }
    }

    .asset-use-info {
        display: none;
        &.is-visible {
            display: block;
        }
        &.hover {
            position: absolute;
            z-index: 2;
            width: 350px;
            padding: 5px;
            border-radius: 6px;
            margin: 10px 0;
            background-color: @aleido-dark-green;
            color: @white;
            text-align: center;
            transition: opacity 0.3s, visibility 0s 0.3s;

            opacity: 0.9;
            transition-delay: 0s;
            visibility: inherit;
        }
    }
}
